services:
  app:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      # Host source code directory
      - ./:/app/
    entrypoint: /bin/bash
    tty: true
